@page "/login"
@using RegistrationPractice.UI.Services.Http
@using RegistrationPractice.WebApi.Contracts.Models
@inject IBackendApi BackendApi
@inject NavigationManager NavigationManager
<h3>Login</h3>


<MudContainer>
    <MudForm Model="_request">
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudCard Elevation="10">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Авторизация</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudCard>
                <MudTextField T="string"
                              InputType="InputType.Email"
                              @bind-Value="_request.Email"
                              Label="Введите логин"
                              Variant="Variant.Filled"/>
                <MudTextField T="string"
                              InputType="InputType.Password"
                              @bind-Value="_request.Password"
                              Label="Введите пароль"
                              Variant="Variant.Filled"/>
                <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Primary" OnClick="Authenticate">
                    Войти
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudForm>
</MudContainer>

@code {
    private string _redirectUrl = string.Empty;

    UserModel _request = new()
    {
        Email = "",
        Password = ""
    };

    private async Task Authenticate()
    {
        _redirectUrl = await BackendApi.GetAuthenticated("/home", _request);
        _redirectUrl = _redirectUrl.Replace("\"", "");
        NavigationManager.NavigateTo(_redirectUrl);
    }

}