@page "/home"
@using System.Net.Http.Headers
@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using RegistrationPractice.UI.Services.Http
@using RegistrationPractice.WebApi.Contracts.Models
@inject IBackendApi BackendApi
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@attribute [Authorize]

<PageTitle>MainPage</PageTitle>

<h1>You are successfully authenticated</h1>

<MudButton OnClick="Logout">Logout</MudButton>

@code{
    private async void Logout()
    {
        var user = await JsRuntime.InvokeAsync<string>("localStorage.getItem", "user");
        var authentication = JsonSerializer.Deserialize<AuthenticationResponse>(user);
        if (authentication != null && authentication.UserName != "" && authentication.Token != "")
        {
            await JsRuntime!.InvokeVoidAsync("localStorage.removeItem", "user");
        }
        
        NavigationManager.NavigateTo("/login");
    }
    

}